.location{
  width:370px;
  float:left;
  align-items: center;
  margin-left: 25px;
  transition: transform .2s
}

.location:hover{
  transform: scale(1.1)
}


.location-left{
  width:400px;
  float:left;
  margin-left: 380px;
  transition: transform .2s
}

.location-left:hover{
  transform: scale(1.1)
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.green{background:#02B188!important;color:#fff!important}.stroke.button.green,.text-green{color:#02B188!important}.green svg{fill:#fff!important}.stroke.button.green svg,.text-green.button svg{fill:#02B188!important}.stroke.button.green{border-color:#02B188!important}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
