{% extends "base.html" %}
{% block title%}Login{% endblock %}

{% block content %}
<!-- Contact 1 -->
<section class="pt-105 pb-100 bg-dark color-white text-center color-filter-dark-3 contact_1">
	<style>
		.contact_1{background-image:url(static/assets/img/background/arizona.jpg);}
		@media(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi){
			.contact_1{background-image:url(static/assets/img/background/arizona.jpg);}
		}
	</style>
	<div class="container px-xl-0">
		<div class="row justify-content-center">
			<div class="col-xl-8 col-lg-10">
				<h2 class="small" data-aos-duration="500" data-aos="fade-down" data-aos-delay="0">questions or concerns?</h2>
				<form action="mailto:michael@vhomesgroup.com" class="mt-50">
					<div class="row">
						<div class="col-sm-6" data-aos-duration="500" data-aos="fade-down" data-aos-delay="250">
							<input type="text" name="name" placeholder="your name" required="required" class="input mb-30 w-full border-transparent-white focus-white color-white placeholder-transparent-white text-center text-sm-left" />
						</div>
						<div class="col-sm-6" data-aos-duration="500" data-aos="fade-down" data-aos-delay="500">
							<input type="email" name="email" placeholder="your email" required="required" class="input mb-30 w-full border-transparent-white focus-white color-white placeholder-transparent-white text-center text-sm-left" />
						</div>
					</div>
					<div data-aos-duration="500" data-aos="fade-down" data-aos-delay="750">
						<textarea name="message" placeholder="your message" class="input mb-40 w-full radius10 border-transparent-white focus-white color-white placeholder-transparent-white text-left"></textarea>
					</div>
					<div class="row justify-content-between">
						<div class="mb-20 col-sm-6 text-sm-left" data-aos-duration="500" data-aos="fade-down" data-aos-delay="1000">
							<input type="checkbox" name="send_copy" id="contact_1_checkbox" checked="" class="input d-none border-transparent-white focus-action-1" />
						</div>
						<div class="col-sm-6 text-sm-right" data-aos-duration="500" data-aos="fade-down" data-aos-delay="1250">
							<button class="btn action-3 green">send a message</button>
						</div>
					</div>
					<div data-aos-duration="500" data-aos="fade-down" data-aos-delay="1500">
						<div class="mt-55 f-14 text-uppercase sp-20 separate">or call us</div>
						<a href="tel:+15555055050" class="link mt-35 color-white f-22">+1 (224) 456-8915</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<script src="static/contact/js/script.js"></script>
{% endblock %}
