{% extends "base.html" %}
{% block title%}Locations{% endblock %}

{% block content %}
<!-- Showcase 1 -->
<section class="pt-105 pb-95 bg-light showcase_1">
  <div class="container px-xl-0">
    <div class="row justify-content-center text-center">
      <div class="col-xl-8 col-lg-10">
        <h2 class="small" data-aos-duration="500" data-aos="fade-down" data-aos-delay="0">our locations</h2>
        <div class="mt-15 mb-30 f-22 color-heading text-adaptive description" data-aos-duration="500" data-aos="fade-down" data-aos-delay="250">Take a look at our top locations. Every property comes equipped
          with fast wifi, in-suite laundry, kitchen supples, and 24/7 support.
        </div>
        <div class="buttons" data-aos-duration="500" data-aos="fade-down" data-aos-delay="500">
          <a href="#" class="btn mt-25 mx-15 action-1 green">book now</a>
        </div>
      </div>
    </div>
    <div class="mt-10 row justify-content-center text-center text-md-left">
      <div class="mt-70 col-lg-4 col-md-6 col-sm-9 block" data-aos-duration="500" data-aos="fade-down" data-aos-delay="0">
        <a href="https://www.airbnb.com/rooms/40111492?source_impression_id=p3_1595048105_dz4TLyq4IxcO0%2BWn" class="d-block">
          <img src="static/assets/img/background/tempe1.jpg" alt="" class="img-fluid radius10" />
        </a>
        <a href="https://www.airbnb.com/rooms/40110843?source_impression_id=p3_1595048105_dz4TLyq4IxcO0%2BWn&guests=1&adults=1" class="link mt-20 mb-10 f-22 color-main title">Tempe, Arizona</a>
        <div class="color-heading text-adaptive">Standalone 1 bed 1 bath bungalow. This space is well suited for budget travelers and for groups of 3 or fewer - queen bed and full futon. Easy entry with coded locks. This casita offers a Smart TV + Wifi. Place is minutes from all main hot spots: Old Town Scottsdale, Mill St Tempe, Tempe Marketplace, Phoenix Sky Harbor Airport, Mesa MLB Spring Training Games. 
        </div>
      </div>
      <div class="mt-70 col-lg-4 col-md-6 col-sm-9 block" data-aos-duration="500" data-aos="fade-down" data-aos-delay="250">
        <a href="https://www.airbnb.com/rooms/41964981?source_impression_id=p3_1595048105_dz4TLyq4IxcO0%2BWn&guests=1&adults=1" class="d-block">
          <img src="static/assets/img/background/tempe.jpg" srcset="i/showcase_1_img_2@2x.jpg 2x" alt="" class="img-fluid radius10" />
        </a>
        <a href="#" class="link mt-20 mb-10 f-22 color-main title">Tempe, Arizona</a>
        <div class="color-heading text-adaptive">This is the ideal property for groups - bachelor/bachelorettes, golf trips, festival-goers, friend/family vacations. With 4 bedrooms, and plenty more sleeping space in the common areas, this comfortably sleeps 10+. The home is minutes all main hot spots: Old Town Scottsdale, Mill St Tempe, Tempe Marketplace, Phoenix Airport, Mesa MLB Spring Training Games.
        </div>
      </div>
      <div class="mt-70 col-lg-4 col-md-6 col-sm-9 block" data-aos-duration="500" data-aos="fade-down" data-aos-delay="500">
        <a href="#" class="d-block">
          <img src="static/assets/img/background/reviews.jpg" srcset="i/showcase_1_img_3@2x.jpg 2x" alt="" class="img-fluid radius10" />
        </a>
        <a href="#" class="link mt-20 mb-10 f-22 color-main title">Tuscon, Arizona</a>
        <div class="color-heading text-adaptive">Perfect location! Minutes walk to University of Arizona and downtown Tucson. Best area of town, quiet/chill yet close to the hot spots. This home is a spacious 2 bedroom 2 bathroom. We have an outstanding outdoor space perfect for entertaining & celebrating. Great place to hang out with friends or family after a day of exploring what the city has to offer.
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Testimonial 1 -->
<section class="pt-80 pb-80 bg-light testimonial_1">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-11" data-aos-duration="500" data-aos="fade-down" data-aos-delay="0">
        <div class="hr bg-gray h-2">
        </div>
      </div>
    </div>
    <div class="row pt-30 pb-50 inner" data-aos-duration="500" data-aos="fade-down" data-aos-delay="250">
      <div class="col-xl-2 col-lg-1">
      </div>
      <div class="col-md-1 col-sm-2">
        <i class="fas fa-quote-left f-36 color-gray"></i>
      </div>
      <div class="col-xl-7 col-lg-8 col-sm-10">
        <div class="pt-10 f-22 text-adaptive">
          This home is great. The host was very responsive, place
          was nice and clean. Will definitely use again for sure.
        </div>
        <div class="mt-20 d-flex align-items-center author_info">
          <div class="ml-15 color-heading f-14 semibold text-uppercase sp-20">Clara, Colombia</div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-11" data-aos-duration="500" data-aos="fade-down" data-aos-delay="0">
        <div class="hr bg-gray h-2">
        </div>
      </div>
    </div>
  </div>
</section>
<script src="static/locations/js/script.js"></script>
{% endblock %}
