{% extends "base.html" %}
{% block title%}Login{% endblock %}

{% block content %}
<!-- Form 1 -->
<section class="pt-120 pb-120 bg-dark form_1">
	<style>
		.form_1{background-image:url(static/assets/img/background/horseshoe.jpg);}
		@media(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi){
			.form_1{background-image:url(static/assets/img/background/horseshoe.jpg);}
		}
	</style>
	<div class="container px-xl-0">
		<form action="/login_success" class="bg-light mx-auto mw-430 radius10 pt-40 px-50 pb-30">
			<h2 class="mb-40 small text-center" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">welcome back</h2>
			<div class="mb-20 input_holder" data-aos-duration="600" data-aos="fade-down" data-aos-delay="150">
				<input type="email" name="email" placeholder="your email" class="input border-gray focus-action-1 color-heading placeholder-heading w-full" />
			</div>
			<div class="mb-20 input_holder" data-aos-duration="600" data-aos="fade-down" data-aos-delay="250">
				<input type="password" name="password" placeholder="your password" class="input border-gray focus-action-1 color-heading placeholder-heading w-full" />
			</div>
			<div data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
				<button class="btn mt-25 action-1 w-full green">log in</button>
			</div>
			<div class="mt-50 hr bg-gray h-1" data-aos-duration="600" data-aos="fade-down" data-aos-delay="750">
			</div>
			<div class="mt-25 f-18 medium color-heading text-center" data-aos-duration="600" data-aos="fade-down" data-aos-delay="900">
				<span class="">don't have an account? </span>
				<a href="{{ url_for('login') }}" class="link action-1" style="color: #02B188">sign up</a>
			</div>
		</form>
	</div>
</section>
<script src="static/locations/js/script.js"></script>
{% endblock %}
